.Polaris-Modal-Header{
  display:flex;
  align-items:flex-start;
  flex-shrink:0;
  padding:1.6rem 2rem;
  border-bottom:0.1rem solid #dfe3e8; }

.Polaris-Modal-Header__Title{
  word-wrap:break-word;
  word-break:break-word;
  overflow-wrap:break-word;
  flex:1 1;
  margin-top:0.4rem; }
