.Polaris-MessageIndicator__MessageIndicatorWrapper{
  position:relative; }

.Polaris-MessageIndicator{
  position:absolute;
  z-index:1;
  top:0;
  right:0;
  width:0.8rem;
  height:0.8rem;
  border-radius:100%;
  background-color:#47c1bf; }
