.Polaris-Modal-Footer{
  display:flex;
  align-self:flex-end;
  align-items:center;
  width:100%;
  min-height:6.4rem;
  padding:1.6rem;
  border-top:0.1rem solid #dfe3e8; }

.Polaris-Modal-Footer__FooterContent{
  width:100%; }
