@keyframes Polaris-Navigation__fade--in{
  0%{
    opacity:0; }
  100%{
    opacity:1; } }

.Polaris-Navigation{
  display:flex;
  flex-direction:column;
  align-items:stretch;
  width:calc(100vw - 6.4rem);
  min-width:24rem;
  max-width:36rem;
  height:100%;
  min-height:100%;
  background:#f4f6f8;
  -webkit-overflow-scrolling:touch;
  padding-bottom:0px;
  padding-bottom:calc(0px + constant(safe-area-inset-bottom));
  padding-bottom:calc(0px + env(safe-area-inset-bottom)); }
  .Polaris-Navigation:focus{
    outline:none; }
  @media (min-width: 48.0625em){
    .Polaris-Navigation{
      max-width:24rem;
      border-right:0.1rem solid #dfe3e8;
      max-width:24rem;
      max-width:calc(24rem + constant(safe-area-inset-left));
      max-width:calc(24rem + env(safe-area-inset-left)); } }

.Polaris-Navigation__UserMenu{
  flex:0 0 auto; }

@media (min-width: 48.0625em){
  .Polaris-Navigation__ContextControl{
    display:none; } }

.Polaris-Navigation__PrimaryNavigation{
  display:flex;
  overflow:auto;
  flex:1 1 auto;
  flex-direction:column;
  align-items:stretch;
  max-width:100%; }

.Polaris-Navigation__Item{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  margin:0;
  padding:0;
  background:none;
  border:none;
  font-size:inherit;
  line-height:inherit;
  cursor:pointer;
  font-size:1.6rem;
  font-weight:400;
  line-height:4rem;
  display:flex;
  flex-grow:1;
  align-items:flex-start;
  max-width:100%;
  padding:0 0.8rem;
  margin:0 0.8rem;
  border-radius:3px;
  color:#212b36;
  text-decoration:none;
  text-align:left; }
  .Polaris-Navigation__Item:focus{
    outline:none; }
  .Polaris-Navigation__Item:hover{
    background-image:linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
    color:#212b36;
    text-decoration:none; }
    .Polaris-Navigation__Item:hover .Polaris-Navigation__Icon{
      color:white; }
      .Polaris-Navigation__Item:hover .Polaris-Navigation__Icon svg{
        fill:#637381; }
      .Polaris-Navigation__Item:hover .Polaris-Navigation__Icon img{
        -webkit-filter:brightness(0) saturate(100%) invert(45%) sepia(8%) saturate(825%) hue-rotate(166deg) brightness(95%) contrast(90%);
                filter:brightness(0) saturate(100%) invert(45%) sepia(8%) saturate(825%) hue-rotate(166deg) brightness(95%) contrast(90%); }
  .Polaris-Navigation__Item:focus{
    color:#202e78; }
    .Polaris-Navigation__Item:focus .Polaris-Navigation__Icon{
      color:white; }
      .Polaris-Navigation__Item:focus .Polaris-Navigation__Icon svg{
        fill:#5c6ac4; }
      .Polaris-Navigation__Item:focus .Polaris-Navigation__Icon img{
        -webkit-filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
                filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%); }
  @media (min-width: 48.0625em){
    .Polaris-Navigation__Item{
      font-size:1.4rem;
      font-weight:500;
      line-height:3.2rem; } }
  .Polaris-Navigation__Item::-moz-focus-inner{
    border:0; }

.Polaris-Navigation__Item--selected{
  font-weight:600;
  color:#202e78;
  background-color:rgba(92, 106, 196, 0.12); }
  .Polaris-Navigation__Item--selected .Polaris-Navigation__Icon,
  .Polaris-Navigation__Item--selected:focus .Polaris-Navigation__Icon{
    color:white; }
    .Polaris-Navigation__Item--selected .Polaris-Navigation__Icon svg,
    .Polaris-Navigation__Item--selected:focus .Polaris-Navigation__Icon svg{
      fill:#5c6ac4; }

.Polaris-Navigation__Item--disabled{
  color:#919eab;
  pointer-events:none;
  opacity:0.6; }

.Polaris-Navigation__Badge{
  margin-left:0.8rem;
  display:inline-flex;
  margin-top:1.2rem; }
  @media (min-width: 48.0625em){
    .Polaris-Navigation__Badge{
      margin-top:0.8rem; } }

.Polaris-Navigation__Icon{
  color:white;
  flex-shrink:0;
  align-self:flex-start;
  width:2rem;
  height:2rem;
  margin-top:1rem;
  margin-right:2rem;
  margin-bottom:1rem; }
  .Polaris-Navigation__Icon svg{
    fill:#919eab; }
  .Polaris-Navigation__Icon img{
    -webkit-filter:brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
            filter:brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%); }
  @media (min-width: 48.0625em){
    .Polaris-Navigation__Icon{
      margin-top:0.6rem;
      margin-right:1.6rem;
      margin-bottom:0.6rem; } }
  .Polaris-Navigation__Item--selected .Polaris-Navigation__Icon,
  .Polaris-Navigation__Item--selected:hover .Polaris-Navigation__Icon,
  .Polaris-Navigation--subNavigationActive .Polaris-Navigation__Icon,
  .Polaris-Navigation--subNavigationActive:hover .Polaris-Navigation__Icon,
  .Polaris-Navigation--subNavigationActive:focus .Polaris-Navigation__Icon{
    color:white; }
    .Polaris-Navigation__Item--selected .Polaris-Navigation__Icon svg,
    .Polaris-Navigation__Item--selected:hover .Polaris-Navigation__Icon svg,
    .Polaris-Navigation--subNavigationActive .Polaris-Navigation__Icon svg,
    .Polaris-Navigation--subNavigationActive:hover .Polaris-Navigation__Icon svg,
    .Polaris-Navigation--subNavigationActive:focus .Polaris-Navigation__Icon svg{
      fill:#5c6ac4; }
    .Polaris-Navigation__Item--selected .Polaris-Navigation__Icon img,
    .Polaris-Navigation__Item--selected:hover .Polaris-Navigation__Icon img,
    .Polaris-Navigation--subNavigationActive .Polaris-Navigation__Icon img,
    .Polaris-Navigation--subNavigationActive:hover .Polaris-Navigation__Icon img,
    .Polaris-Navigation--subNavigationActive:focus .Polaris-Navigation__Icon img{
      -webkit-filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
              filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%); }
  .Polaris-Navigation__Icon svg{
    display:block; }

.Polaris-Navigation__ListItem{
  position:relative;
  display:flex;
  flex-wrap:wrap; }
  .Polaris-Navigation__RollupSection .Polaris-Navigation__ListItem,
  .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__ListItem{
    opacity:0;
    animation:Polaris-Navigation__fade--in 500ms 1 forwards; }
  .Polaris-Navigation__ListItem:nth-child(1){
    animation-delay:0ms; }
  .Polaris-Navigation__ListItem:nth-child(2){
    animation-delay:50ms; }
  .Polaris-Navigation__ListItem:nth-child(3){
    animation-delay:100ms; }
  .Polaris-Navigation__ListItem:nth-child(4){
    animation-delay:150ms; }
  .Polaris-Navigation__ListItem:nth-child(5){
    animation-delay:200ms; }
  .Polaris-Navigation__ListItem:nth-child(6){
    animation-delay:250ms; }
  .Polaris-Navigation__ListItem:nth-child(7){
    animation-delay:300ms; }
  .Polaris-Navigation__ListItem:nth-child(8){
    animation-delay:350ms; }
  .Polaris-Navigation__ListItem:nth-child(9){
    animation-delay:400ms; }
  .Polaris-Navigation__ListItem:nth-child(10){
    animation-delay:450ms; }
  .Polaris-Navigation__ListItem:nth-child(11){
    animation-delay:500ms; }
  .Polaris-Navigation__ListItem:nth-child(12){
    animation-delay:550ms; }

.Polaris-Navigation__ListItem--hasAction .Polaris-Navigation__Item{
  max-width:calc(100% - 5.6rem); }

.Polaris-Navigation__ItemWrapper{
  display:flex;
  flex-wrap:nowrap;
  width:100%; }

.Polaris-Navigation__Text{
  flex:1 1 auto;
  margin-top:1rem;
  margin-bottom:1rem;
  line-height:2rem; }
  @media (min-width: 48.0625em){
    .Polaris-Navigation__Text{
      margin-top:0.6rem;
      margin-bottom:0.6rem; } }

.Polaris-Navigation__SecondaryAction{
  color:white;
  display:flex;
  align-items:center;
  height:4rem;
  margin-right:0.4rem;
  padding:0.4rem 1.6rem;
  border-radius:3px; }
  .Polaris-Navigation__SecondaryAction svg{
    fill:#919eab; }
  .Polaris-Navigation__SecondaryAction img{
    -webkit-filter:brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
            filter:brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%); }
  @media (min-width: 48.0625em){
    .Polaris-Navigation__SecondaryAction{
      height:3.2rem; } }
  .Polaris-Navigation__SecondaryAction:hover, .Polaris-Navigation__SecondaryAction:focus, .Polaris-Navigation__SecondaryAction:active{
    color:white; }
    .Polaris-Navigation__SecondaryAction:hover svg, .Polaris-Navigation__SecondaryAction:focus svg, .Polaris-Navigation__SecondaryAction:active svg{
      fill:#5c6ac4; }
    .Polaris-Navigation__SecondaryAction:hover img, .Polaris-Navigation__SecondaryAction:focus img, .Polaris-Navigation__SecondaryAction:active img{
      -webkit-filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
              filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%); }
  .Polaris-Navigation__SecondaryAction:focus, .Polaris-Navigation__SecondaryAction:active{
    outline:none;
    background-color:rgba(223, 227, 232, 0.5); }

.Polaris-Navigation__SecondaryNavigation{
  flex-basis:100%;
  margin-bottom:0.8rem;
  margin-left:4rem;
  overflow-x:hidden; }
  @media (min-width: 48.0625em){
    .Polaris-Navigation__SecondaryNavigation{
      margin-left:3.6rem; } }
  .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__List{
    margin:0;
    padding:0;
    list-style:none; }
  .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item{
    font-size:1.5rem;
    font-weight:400;
    line-height:4rem;
    color:#637381; }
    .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item:hover{
      color:#212b36; }
    .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item:focus{
      color:#202e78; }
    @media (min-width: 48.0625em){
      .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item{
        font-size:1.4rem;
        line-height:2.8rem; } }
  .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Text{
    margin-top:1rem;
    margin-bottom:1rem;
    line-height:2rem; }
    @media (min-width: 48.0625em){
      .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Text{
        margin-top:0.4rem;
        margin-bottom:0.4rem; } }
  .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item--selected{
    font-weight:600;
    color:#202e78; }
  .Polaris-Navigation__SecondaryNavigation .Polaris-Navigation__Item--disabled{
    font-weight:400;
    color:#919eab; }

.Polaris-Navigation__Section{
  margin:0;
  padding:0;
  list-style:none;
  flex:0 0 auto;
  padding:1.6rem 0;
  padding-left:0px;
  padding-left:calc(0px + constant(safe-area-inset-left));
  padding-left:calc(0px + env(safe-area-inset-left)); }
  .Polaris-Navigation__Section + .Polaris-Navigation__Section{
    padding-top:0.4rem; }

.Polaris-Navigation__Section--fill{
  flex:1 0 auto; }

.Polaris-Navigation__Section--withSeparator{
  border-top:0.1rem solid #dfe3e8; }

.Polaris-Navigation__SectionHeading{
  font-size:1.3rem;
  font-weight:700;
  line-height:1.6rem;
  text-transform:uppercase;
  display:flex;
  align-items:center;
  padding-left:1.6rem;
  color:#637381; }
  @media (min-width: 40em){
    .Polaris-Navigation__SectionHeading{
      font-size:1.2rem; } }
  .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    margin:0;
    padding:0;
    background:none;
    border:none;
    font-size:inherit;
    line-height:inherit;
    cursor:pointer;
    color:white;
    display:flex;
    align-items:center;
    margin-right:0.4rem;
    padding:0.4rem 1.6rem;
    border-radius:3px;
    transition:background-color 200ms cubic-bezier(0.64, 0, 0.35, 1); }
    .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:focus{
      outline:none; }
    .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action svg{
      fill:#919eab; }
    .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action img{
      -webkit-filter:brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
              filter:brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%); }
    .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:hover svg, .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:active svg, .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:focus svg{
      fill:#5c6ac4; }
    .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:hover img, .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:active img, .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:focus img{
      -webkit-filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
              filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%); }
    .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:focus, .Polaris-Navigation__SectionHeading .Polaris-Navigation__Action:active{
      background-color:rgba(223, 227, 232, 0.5); }

.Polaris-Navigation__RollupToggle{
  font-weight:400;
  color:#212b36;
  color:#637381; }
  .Polaris-Navigation__RollupToggle:hover{
    color:#5c6ac4; }
    .Polaris-Navigation__RollupToggle:hover svg{
      fill:#5c6ac4; }
    .Polaris-Navigation__RollupToggle:hover img{
      -webkit-filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
              filter:brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%); }
  .Polaris-Navigation__RollupToggle:focus{
    outline:none; }

.Polaris-Navigation__List{
  margin:0;
  padding:0;
  list-style:none; }

.Polaris-Navigation__Indicator{
  position:relative;
  display:inline-block;
  height:1rem;
  width:1rem; }
