.Polaris-Label{
  -webkit-tap-highlight-color:transparent; }

.Polaris-Label--hidden{
  position:absolute !important;
  top:0;
  clip:rect(1px, 1px, 1px, 1px) !important;
  overflow:hidden !important;
  height:1px !important;
  width:1px !important;
  padding:0 !important;
  border:0 !important; }

.Polaris-Label__Text{
  font-size:1.5rem;
  font-weight:400;
  line-height:2rem;
  text-transform:initial;
  letter-spacing:initial;
  display:block;
  flex:1 1 auto;
  color:currentColor;
  -webkit-tap-highlight-color:transparent; }
  @media (min-width: 40em){
    .Polaris-Label__Text{
      font-size:1.4rem; } }
