.Polaris-Indicator::before, .Polaris-Indicator::after{
  content:'';
  position:absolute;
  background-color:#47c1bf;
  right:-0.4rem;
  top:-0.4rem;
  width:1rem;
  height:1rem;
  border-radius:100%; }

.Polaris-Indicator--pulseIndicator::before{
  z-index:1;
  animation:Polaris-Indicator--bounce 5s ease infinite; }

.Polaris-Indicator--pulseIndicator::after{
  right:-0.4rem;
  top:-0.4rem;
  animation:Polaris-Indicator--pulse 5s ease infinite; }

@keyframes Polaris-Indicator--bounce{
  from,
  65%,
  85%{
    transform:scale(1); }
  75%{
    transform:scale(0.85); }
  82.5%{
    transform:scale(1.05); } }

@keyframes Polaris-Indicator--pulse{
  from,
  75%{
    transform:scale(0.85);
    opacity:1; }
  to{
    transform:scale(2.5);
    opacity:0; } }
