.Polaris-ResourceList-FilterControl__AppliedFilters{
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  flex-wrap:nowrap;
  margin-top:-1.2rem;
  margin-left:-1.2rem;
  margin-right:-1.2rem;
  overflow-x:auto;
  overflow-y:hidden;
  -webkit-overflow-scrolling:touch; }
  .Polaris-ResourceList-FilterControl__AppliedFilters::after{
    content:'';
    flex:0 0 1.2rem; }
  @media (min-width: 28.625em){
    .Polaris-ResourceList-FilterControl__AppliedFilters{
      flex-wrap:wrap;
      margin-right:0;
      margin-left:-0.8rem;
      margin-top:-1.6rem; }
      .Polaris-ResourceList-FilterControl__AppliedFilters::after{
        content:none;
        flex:none; } }
  @media (max-width: 28.625em){
    .Polaris-ResourceList-FilterControl__AppliedFilters{
      padding-bottom:0.8rem; } }

.Polaris-ResourceList-FilterControl__AppliedFilter{
  flex:1 0 auto;
  margin-top:0.8rem;
  margin-left:1.2rem;
  max-width:calc(100% - 0.8rem); }
  @media (min-width: 28.625em){
    .Polaris-ResourceList-FilterControl__AppliedFilter{
      flex:0 1 auto;
      margin-left:0.8rem; } }
