.Polaris-Label {
  -webkit-tap-highlight-color: transparent;
}

.Polaris-Label--hidden {
  @include visually-hidden;
}

.Polaris-Label__Text {
  @include text-style-body;
  display: block;
  flex: 1 1 auto;
  color: currentColor;
  -webkit-tap-highlight-color: transparent;
}
