$number-size: rem(12px);
$bullet-size: rem(18px);

.Polaris-List {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  + .Polaris-List {
    margin-top: spacing();
  }
}

.Polaris-List--typeBullet {
  > .Polaris-List__Item::before {
    content: '\2022'; // bullet
    font-size: $bullet-size;
  }
}

.Polaris-List--typeNumber {
  counter-reset: ordered-counter;

  > .Polaris-List__Item::before {
    @include text-emphasis-strong;
    content: counter(ordered-counter, decimal) '.';
    counter-increment: ordered-counter;
    font-size: $number-size;
    vertical-align: top;
  }
}

.Polaris-List__Item {
  position: relative;
  margin-bottom: spacing(tight);
  padding-left: spacing();

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  .Polaris-List:first-child {
    margin-top: spacing(tight);
  }
}
