$shadow-color: rgba(color(black), 0.1);
$shadow-size: rem(20px);
$shadow-bottom: inset 0 (-1 * $shadow-size) $shadow-size (-1 * $shadow-size) $shadow-color;
$shadow-top: inset 0 $shadow-size $shadow-size (-1 * $shadow-size) $shadow-color;

.Polaris-Scrollable {
  -webkit-overflow-scrolling: touch;
}

.Polaris-Scrollable--horizontal {
  overflow-x: auto;
}

.Polaris-Scrollable--vertical {
  overflow-y: auto;
}

.Polaris-Scrollable--hasTopShadow {
  box-shadow: $shadow-top;
}

.Polaris-Scrollable--hasBottomShadow {
  box-shadow: $shadow-bottom;
}

.Polaris-Scrollable--hasTopShadow.Polaris-Scrollable--hasBottomShadow {
  box-shadow: $shadow-top, $shadow-bottom;
}
