$body-text-height: rem(8px);
$body-text-line-height: rem(12px);
$body-text-last-line-width: 80%;

.Polaris-SkeletonBodyText__SkeletonBodyTextContainer {
  @include skeleton-shimmer;
}

.Polaris-SkeletonBodyText {
  height: $body-text-height;

  @include skeleton-content;

  &:last-child:not(:first-child) {
    width: $body-text-last-line-width;
  }

  + .Polaris-SkeletonBodyText {
    margin-top: $body-text-line-height;
  }
}
