@mixin text-container-spacing($spacing: base) {
  > * + * {
    margin-top: (spacing($spacing));
  }
}

.Polaris-TextContainer {
  @include text-container-spacing;
}

.Polaris-TextContainer--spacingTight {
  @include text-container-spacing(tight);
}

.Polaris-TextContainer--spacingLoose {
  @include text-container-spacing(loose);
}
