.Polaris-TextContainer > *:not(:first-child){
  margin-top:1.6rem; }

.Polaris-TextContainer--spacingTight > *:not(:first-child){
  margin-top:0.8rem; }

.Polaris-TextContainer--spacingLoose > *:not(:first-child){
  margin-top:2rem; }
