.Polaris-DropZone-FileUpload{
  padding:1.5rem;
  text-align:center; }

.Polaris-DropZone-FileUpload__Image.Polaris-DropZone-FileUpload--sizeExtraLarge{
  width:90px; }

.Polaris-DropZone-FileUpload__Image.Polaris-DropZone-FileUpload--sizeLarge{
  width:60px; }
