.Polaris-TopBar-SearchField{
  position:relative;
  display:flex;
  flex:1 1 auto;
  align-items:center;
  border:1px solid transparent;
  width:100%;
  max-width:69.4rem; }

.Polaris-TopBar-SearchField--focused .Polaris-TopBar-SearchField__Input,
.Polaris-TopBar-SearchField__Input:focus{
  border:none;
  color:#212b36; }
  .Polaris-TopBar-SearchField--focused .Polaris-TopBar-SearchField__Input::-webkit-input-placeholder,
  .Polaris-TopBar-SearchField__Input:focus::-webkit-input-placeholder{
    color:#919eab; }
  .Polaris-TopBar-SearchField--focused .Polaris-TopBar-SearchField__Input::-ms-input-placeholder,
  .Polaris-TopBar-SearchField__Input:focus::-ms-input-placeholder{
    color:#919eab; }
  .Polaris-TopBar-SearchField--focused .Polaris-TopBar-SearchField__Input::placeholder,
  .Polaris-TopBar-SearchField__Input:focus::placeholder{
    color:#919eab; }

.Polaris-TopBar-SearchField__Input:focus ~ .Polaris-TopBar-SearchField__Backdrop{
  background-color:white; }

.Polaris-TopBar-SearchField__Input:focus ~ .Polaris-TopBar-SearchField__Icon svg{
  fill:#919eab; }

.Polaris-TopBar-SearchField--focused .Polaris-TopBar-SearchField__Backdrop{
  background-color:white; }

.Polaris-TopBar-SearchField--focused .Polaris-TopBar-SearchField__Icon svg{
  fill:#919eab; }

.Polaris-TopBar-SearchField__Input{
  font-size:1.6rem;
  font-weight:400;
  line-height:2.4rem;
  text-transform:initial;
  letter-spacing:initial;
  z-index:2;
  width:100%;
  height:3.4rem;
  padding:0 0 0 3.6rem;
  border:none;
  background-color:transparent;
  outline:none;
  color:var(--top-bar-color);
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  will-change:fill, color;
  transition:fill 200ms cubic-bezier(0.64, 0, 0.35, 1), color 200ms cubic-bezier(0.64, 0, 0.35, 1);
  -webkit-appearance:textfield;
     -moz-appearance:textfield;
          appearance:textfield; }
  @media (min-width: 40em){
    .Polaris-TopBar-SearchField__Input{
      font-size:1.4rem; } }
  .Polaris-TopBar-SearchField__Input::-webkit-input-placeholder{
    color:var(--top-bar-color); }
  .Polaris-TopBar-SearchField__Input::-ms-input-placeholder{
    color:var(--top-bar-color); }
  .Polaris-TopBar-SearchField__Input::placeholder{
    color:var(--top-bar-color); }
  .Polaris-TopBar-SearchField__Input::-webkit-search-decoration, .Polaris-TopBar-SearchField__Input::-webkit-search-cancel-button{
    -webkit-appearance:none;
            appearance:none; }

.Polaris-TopBar-SearchField__Icon{
  position:absolute;
  z-index:3;
  top:50%;
  left:0.8rem;
  display:flex;
  height:2rem;
  pointer-events:none;
  transform:translateY(-50%); }
  .Polaris-TopBar-SearchField__Icon svg{
    fill:var(--top-bar-color); }

.Polaris-TopBar-SearchField__Clear{
  position:relative;
  z-index:3;
  align-self:stretch;
  border:none;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  background:transparent; }
  .Polaris-TopBar-SearchField__Clear svg{
    fill:#919eab; }
  .Polaris-TopBar-SearchField__Clear:focus, .Polaris-TopBar-SearchField__Clear:hover{
    outline:none; }
    .Polaris-TopBar-SearchField__Clear:focus svg, .Polaris-TopBar-SearchField__Clear:hover svg{
      fill:#637381; }

.Polaris-TopBar-SearchField__Backdrop{
  position:absolute;
  z-index:1;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:var(--top-bar-background-lighter);
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  will-change:background-color;
  transition:background-color 200ms cubic-bezier(0.64, 0, 0.35, 1);
  border-radius:3px;
  animation:Polaris-TopBar-SearchField--toLightBackground 0.01ms; }

@keyframes Polaris-TopBar-SearchField--toLightBackground{
  to{
    background-color:var(--top-bar-background-lighter); } }
