.Polaris-Subheading{
  font-size:1.3rem;
  font-weight:700;
  line-height:1.6rem;
  text-transform:uppercase;
  margin:0; }
  @media (min-width: 40em){
    .Polaris-Subheading{
      font-size:1.2rem; } }
